<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="com/dev/myBatis/db.properties"/>

    <typeAliases>
        <typeAlias type="com.dev.dto.UserDto" alias="UserDto"/>
        <typeAlias type="com.dev.dto.UserLoginDto" alias="UserLoginDto"/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/dev/myBatis/UserMapper.xml"/>
        <mapper resource="com/dev/myBatis/PostMapper.xml"/>
    </mappers>

</configuration>