<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.MemberMapper.post">

    <insert id="postInsert" parameterType="CreatePostDto">

        INSERT INTO Posts(postTitle, postContent, userId)
        VALUES(#{postTitle}, #{postContent}, #{userId})

    </insert>

    <select id="getTotalPostCount" resultType="Integer">
        SELECT COUNT(*) FROM Posts
    </select>

    <select id="getPostByPage" resultType="PostDto" parameterType="PageInfo">
        SELECT * FROM Posts
        ORDER BY postNum
        LIMIT #{limit} OFFSET #{offset}

    </select>
    
    <insert id="insertLikes" parameterType="LikesDto">
        INSERT INTO Likes(userId, postNum) VALUES(#{userId}, #{postNum})
    </insert>

    <insert id="insertDisLikes" parameterType="DisLikesDto">
        INSERT INTO DisLikes(userId, postNum) VALUES(#{userId}, #{postNum})
    </insert>
    
    

    <select id="findById" resultType="PostDto" parameterType="Integer">
        SELECT * FROM Posts
        WHERE postNum = #{postNum}
    </select>

    <select id="isAlreadyLikes" resultType="Integer" parameterType="FindLikesDto">

        SELECT COUNT(*) FROM Likes WHERE #{userId} AND #{postNum}

    </select>

    <select id="isAlreadyDisLikes" resultType="Integer" parameterType="FindLikesDto">

        SELECT COUNT(*) FROM DisLikes WHERE #{userId} AND #{postNum}

    </select>

    <select id="countPostLikes" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*) FROM Likes WHERE postNum = #{postNum}
    </select>

    <select id="countPostDisLikes" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*) FROM DisLikes WHERE postNum = #{postNum}
    </select>

    
</mapper>